<?xml version="1.0"?>

<launch>
  <!-- start robot description server -->
  <node name="robot_description_server" pkg="l3_libs" type="robot_description_server" respawn="true" output="screen" />

  <rosparam file="$(find thormang3_l3_module)/config/robot_description.yaml" command="load" />
  <rosparam file="$(find thormang3_l3_module)/config/l3_module_config.yaml" command="load" />
  <rosparam file="$(find thormang3_l3_module)/config/plugin_sets.yaml" command="load" />

  <param name="step_controller_plugin" value="step_controller_test_plugin" />
  <param name="step_plan_msg_plugin" value="l3_step_plan_msg_plugin" />
  <param name="plugin_set" value="robotis_walk" />
</launch>

