<?xml version="1.0"?>

<launch>
  <group ns="step_control_module">
    <rosparam file="$(find thor_mang_footstep_planning_plugins)/config/plugin_descriptions.yaml" command="load" />
    <rosparam file="$(find thormang3_step_control_module)/config/plugin_descriptions.yaml" command="load" />
    <rosparam param="step_plan_msg_plugin">thor_mang_step_plan_msg_plugin</rosparam>
    <rosparam param="step_controller_plugin">robotis_online_walking_plugin</rosparam>
  </group>
</launch>

