<?xml version="1.0" ?>

<launch>
  <arg name="robot_name" default="thormang3" />
  <arg name="l_hand_type" default="$(optenv L_HAND_TYPE none)" />
  <arg name="r_hand_type" default="$(optenv R_HAND_TYPE none)" />
  <arg name="gazebo" default="false" />

  <!-- executing this here to be separated from second parameter load -->
  <include file="$(find thor_vt_hand_ros_control)/launch/left_hand_trajectory_controllers.launch" ns="joints" if="$(eval arg('l_hand_type') == 'vt_hand')" />
  <include file="$(find rh_p12_rn_ros_control)/launch/left_hand_trajectory_controllers.launch" ns="joints" if="$(eval arg('l_hand_type') == 'rh_p12_rn')" />

  <param name="gazebo"                   value="$(arg gazebo)"    type="bool" />
  <param name="gazebo_robot_name"        value="$(arg robot_name)" />

  <param name="offset_file_path"         value="$(find thormang3_manager)/config/offset.yaml" />
  <param name="robot_file_path"          value="$(find thormang3_manager)/config/THORMANG3.robot" />
  <param name="init_file_path"           value="$(find thormang3_manager)/config/dxl_init.yaml" />

  <param name="ft_data_path"             value="$(find thormang3_manager)/config/ft_data.yaml" />
  <param name="ft_calibration_data_path" value="$(find thormang3_manager)/config/ft_calibration_data.yaml" />
  <param name="wrist_ft_calibration_data_path" value="$(find thormang3_manager)/config/wrist_ft_calibration_data.yaml" />

  <param name="action_file_path"         value="$(find thormang3_action_module)/data/motion_4096.bin" />

  <!-- THORMANG3 Manager -->
  <node name="thormang3_manager" pkg="thormang3_manager" type="thormang3_manager" output="screen" />

  <!-- walk control module -->
  <include file="$(find thormang3_step_control_module)/launch/load_step_controller.launch" />

  <!-- l3_walk control module -->
  <include file="$(find thormang3_l3_module)/launch/load_l3_module.launch" ns="l3" />

  <!-- ros control module -->
  <include file="$(find thormang3_ros_control_module)/launch/load_trajectory_controllers.launch" />

  <!-- executing this here to be separated from first parameter load -->
  <include file="$(find thor_vt_hand_ros_control)/launch/right_hand_trajectory_controllers.launch" ns="joints" if="$(eval arg('r_hand_type') == 'vt_hand')" />
  <include file="$(find rh_p12_rn_ros_control)/launch/right_hand_trajectory_controllers.launch" ns="joints" if="$(eval arg('r_hand_type') == 'rh_p12_rn')" />
</launch>
