<?xml version="1.0" ?>

<launch>
  <arg name="gazebo" default="true" />
  <arg name="robot_name" default="thormang3" />
  <arg name="use_hands" default="false" />

  <group ns="$(arg robot_name)">
    <include file="$(find thormang3_manager)/launch/thormang3_manager.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="use_hands" value="$(arg use_hands)" />
      <arg name="gazebo" value="$(arg gazebo)" />
    </include>
  </group>
</launch>
