<?xml version="1.0" ?>

<launch>
  <arg name="gazebo" default="true" />
  <arg name="robot_name" default="thormang3" />
  <arg name="l_hand_type" default="$(optenv L_HAND_TYPE none)" />
  <arg name="r_hand_type" default="$(optenv R_HAND_TYPE none)" />

  <include file="$(find thormang3_manager)/launch/thormang3_manager.launch" ns="$(arg robot_name)" pass_all_args="true" />
</launch>
